@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    height: 100%;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: justify;
}

p, li {
    font-size: 1.5rem;
}

/* logo and heading */

header {
    height: 4rem;
    background-color: #330066;
}

h1, h2, h3 {
    font-family: Fredericka the Great, cursive;
    font-size: 3rem;
    padding: 1rem 0rem 1rem 4rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

#logo {
    font-size: 1.8rem;
    float: left;
    padding-bottom: 0rem;
    padding-top: 0.8rem;
}

a {
    color: white;
    text-decoration: none;
}

/*title page*/

.caption {
    width: 50vw;
    background-color: #330066;
    opacity: 80%;
    z-index: 2;
    position: absolute;
}

.caption h1 {
    padding: 0.5rem 0rem 0.5rem 2.5rem;
}

.picture {
    z-index: 1;
    position: relative;
}

.picture img {
    width: 50vw;
}


#split-screen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

/*footer*/

#footer {
    background-color: #330066;
    height: 4rem;
    color: white;
    font-size: medium;
    display: flex;
    align-items: center;
}

#footer div {
    width: 33%;
    display:flex;
    justify-content: center;
    align-content: space-between;
}

footer li {
    list-style-type: none;
    float: right;
    padding: 2rem;
}


@media screen and (max-width: 1020px) {
    #split-screen {
        height: 50%%;
        width: 100%;
        flex-wrap:nowrap;
        flex-direction:column;
    }  

    .tile, .caption, .picture {
        width:100%;
        display:flex;
        justify-content: center;
    }

    .tile {
        height:fit-content;
    }

    #footer{
        height: 100%;
        width: 100%;
        flex-wrap:nowrap;
        flex-direction:column;
        }
    
    footer li {
        list-style-type:none;
        float:none;
        padding:0;
        }
    }

    footer div {
        width: 100%;
    }

    }

  