@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    height: 100%;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.2rem;
    text-align: justify;
}

/* logo and heading */

header {
    height: 60px;
    background-color: #330066;
}

h1 {
    font-family: Fredericka the Great, cursive;
    font-size: 2rem;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
}

h2 {
    font-family: Fredericka the Great, cursive;
    font-size: 1.5rem;
    padding-left: 4%;
    padding-bottom: 2%;

}

h3 {
    font-family: Fredericka the Great, cursive;
    font-size: 1rem;
    padding-left: 4%;
    padding-bottom: 2%;

}

#logo {
   font-size: 1.5rem;
   float:left;
   padding-bottom:0px;
   padding-top:10px;
}

#menu{
    display:block;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 15px;
    padding-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

/*title page*/

#split-screen {
    height: 86vh;
}

.tile {
    height: 43vh;
    float: right;
}

.caption {
    width:50vw;
    background-color: #330066;
    opacity: 80%;
    z-index: 2;
    position: absolute;
}


.picture{
    z-index: 1;
    position: relative;
}

.picture img {
    width: 50vw;
    height:43vh;
}

/*footer*/

#footer {
    background-color: #330066;
    height: 55px;
    width: 100%;
    color: white;
    font-size: medium;
    display: flex;
    justify-content:space-around;
    align-content:flex-start;
    align-items: center;
}

footer li {
    list-style-type: none;
    float:right;
}

.social-media {
    margin-right: 10%;
}

footer div {
    width: 33%;
}

#email {
    margin-left: 13rem;
    margin-right: 10rem;
}

    
