@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Oswald:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
height: 100%;
font-family: Oswald, sans-serif;
font-weight: 300;
color: #000000;
font-size: 1.4rem;
text-align: justify;
}

#header-text {
    font-family: Fredericka the Great, cursive;
    font-size: 2rem;
    padding-left: 2%;
}

h1 {
    font-family: Fredericka the Great, cursive;
    font-size: 4rem;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    }

aside h2 {
background-color: #330066;
color:white;
font-size: 2rem;
font-family: Fredericka the Great, cursive;
padding:4%;
}

aside h3 {
    font-family: Fredericka the Great, cursive;
    font-size: 1.5rem;
    margin-top: 5%;
}

header{
    height: 4vh;
    background-color: #330066;
    font-size: 1.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    opacity: 70%;
}


#pic-square {
height: calc(100vh-70px); /*not working, should set height of square in relation to 100vh in total*/
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
position: relative;
}

.pic-tile {
    z-index: 1;
    display:inline-block; /*doesnt work, it should get the div to the size of the pic and erase the thin white lines*/
}

#caption-square {
    
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 90px;
    left: 0px;
    }

.caption {
    z-index: 2;
    background-color: #330066;
    opacity: 80%; 
    width: 50vw;
    height: 50vh;
    
}

#pic-square img {
    width: 50vw;
}


/*subpages*/

.title-image {
    width: 100vw;
}

article > p {
    width: 50vw;
    padding-left:4%;
    padding-bottom: 2%;

}

aside {
    float: right;
    width: 35vw;
    padding-left:4%;
    padding-top:1%;
    padding-right:4%;
}

footer {
    background-color: #330066;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    color:white;
    padding: 2%;
}

footer i {
    padding: 1%;
}

.iframe {
    float: right;
    width: 30vw;
    height: 30vh;
    padding: 3%;
}

#teaser {
    padding: 4%;
}

h2 {
    font-family: Fredericka the Great, cursive;
    padding-left: 4%;

}