.title-image {
    width: 100vw;
}


article>p {
    width: 50vw;
    padding-left: 4%;
    padding-bottom: 2%;
}


aside {
    float: right;
    width: 35vw;
    padding-left: 4%;
    padding-top: 1%;
    padding-right: 4%;
    padding-bottom: 4%;
}

aside h2 {
    background-color: #330066;
    color: white;
    font-size: 2rem;
    font-family: Fredericka the Great, cursive;
    padding: 4%;
}

aside h3 {
    font-family: Fredericka the Great, cursive;
    font-size: 1.5rem;
    margin-top: 5%;
}

.link-title {
    color: black;
}

/*about*/

.iframe {
    width: 20vw;
    height: 20vh;
    padding-left: 15%;
}

/*short-stories*/

#short {
    width: 40vw;
}

button {
    height: 80px;
    width: 120px;
    background-color: #330066;
    color: white;
    font-size: 1rem;
    margin-left: 45vw;
    margin-bottom: 2%;

}

.quote {
    font-size: 1.5rem;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
}

/*books*/

#teaser {
    padding: 4%;
}

/*seo-writing*/

.content-list {
    list-style-type: disc;
    margin-left: 6rem;
    margin-bottom: 2rem;
}

/*form in seo-writing*/

form {
    width: 50vw;
    background-color: #330066;
    color: white;
    margin-left: 4%;
    margin-bottom: 2%;
}

label {
    margin-left: 4%;
}

input {
    background: white;
    height: 2rem;
    width: 8rem;
    margin-left: 2.6rem;
    margin-top: 1rem;
    font-size: medium;
}

#message {
    margin-left: 1rem;
    height: 8rem;
    width: 16rem;
    margin-bottom: 3rem;

}